In [1]:
import pandas as pd
import numpy as np

In [2]:
tech = pd.read_csv('D:\\karan data\\Data for Preprocessing\\tech_giants.csv')

In [3]:
tech.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         7105 non-null   object
 1   month        7105 non-null   int64
 2   year         7105 non-null   int64
 3   day          7105 non-null   int64
 4   name         7105 non-null   object
 5   open         7105 non-null   float64
 6   close        7105 non-null   float64
 7   high         7105 non-null   float64
 8   low          7105 non-null   float64
 9   volume       7105 non-null   int64
 10  volume_type  7105 non-null   object
dtypes: float64(4), int64(4), object(3)
memory usage: 610.7+ KB

In [4]:
tech['date'] = pd.to_datetime(tech['date'], format="%d-%m-%Y")

In [5]:
tech.set_index(['date', 'name'], inplace = True)

In [6]:
tech

                  month  year  day     open    close     high      low  \
date       name
2014-01-02 FB         1  2014    2    54.86    54.71    55.22    54.19
           AAPL       1  2014    2    79.38    79.02    79.58    78.86
           GOOGL      1  2014    2   557.73   556.56   558.88   554.13
           MSFT       1  2014    2    37.35    37.16    37.40    37.10
           AMZN       1  2014    2   398.80   397.97   399.36   394.02
...                 ...   ...  ...      ...      ...      ...      ...
2019-08-23 MSFT       8  2019   23   137.19   133.39   138.35   132.80
           AAPL       8  2019   23   209.43   202.64   212.05   201.00
           GOOGL      8  2019   23  1185.17  1153.58  1195.67  1150.00
           AMZN       8  2019   23  1793.03  1749.62  1804.90  1745.23
           FB         8  2019   23   180.84   177.75   183.13   176.66

                    volume volume_type
date       name
2014-01-02 FB     43257622      medium
           AAPL    8398851         low
           GOOGL   1822719      medium
           MSFT   30643745      medium
           AMZN    2140246      medium
...                    ...         ...
2019-08-23 MSFT   38515386      medium
           AAPL   46882843      medium
           GOOGL   1813141      medium
           AMZN    5277898      medium
           FB     17331221      medium

[7105 rows x 9 columns]

In [7]:
tech.loc[(slice('2017-01-03','2017-01-31'), 'GOOGL'), 'open':'low']

                    open   close    high     low
date       name
2017-01-03 GOOGL  800.62  808.01  811.44  796.89
2017-01-04 GOOGL  809.89  807.77  813.43  804.11
2017-01-05 GOOGL  807.50  813.02  813.74  805.92
2017-01-06 GOOGL  814.99  825.21  828.96  811.50
2017-01-09 GOOGL  826.37  827.18  830.43  821.62
2017-01-10 GOOGL  827.07  826.01  829.41  823.14
2017-01-11 GOOGL  826.62  829.86  829.90  821.47
2017-01-12 GOOGL  828.38  829.53  830.38  821.01
2017-01-13 GOOGL  831.00  830.94  834.65  829.52
2017-01-17 GOOGL  830.00  827.46  830.18  823.20
2017-01-18 GOOGL  829.80  829.02  829.81  824.08
2017-01-19 GOOGL  829.00  824.37  833.00  823.96
2017-01-20 GOOGL  829.09  828.17  829.24  824.60
2017-01-23 GOOGL  831.61  844.43  845.54  828.70
2017-01-24 GOOGL  846.98  849.53  851.52  842.28
2017-01-25 GOOGL  853.55  858.45  858.79  849.74
2017-01-26 GOOGL  859.05  856.98  861.00  850.52
2017-01-27 GOOGL  859.00  845.03  867.00  841.90
2017-01-30 GOOGL  837.06  823.83  837.23  821.03
2017-01-31 GOOGL  819.50  820.19  823.07  813.40

In [8]:
tech.loc[('2019-01-31',['GOOGL', 'AAPL']), :]

                  month  year  day     open    close     high      low  \
date       name
2019-01-31 GOOGL      1  2019   31  1112.24  1125.89  1127.67  1105.25
           AAPL       1  2019   31   166.11   166.44   169.00   164.56

                    volume volume_type
date       name
2019-01-31 GOOGL   2011572      medium
           AAPL   40739649      medium

In [9]:
tech.loc[(slice('2019-01-01','2019-01-31'), ['GOOGL', 'AAPL']), :]

                  month  year  day     open    close     high      low  \
date       name
2019-01-02 GOOGL      1  2019    2  1027.20  1054.68  1060.79  1025.28
           AAPL       1  2019    2   154.89   157.92   158.85   154.23
2019-01-03 AAPL       1  2019    3   143.98   142.19   145.72   142.00
           GOOGL      1  2019    3  1050.67  1025.47  1066.26  1022.37
2019-01-04 AAPL       1  2019    4   144.53   148.26   148.55   143.80
           GOOGL      1  2019    4  1042.56  1078.07  1080.00  1036.86
2019-01-07 AAPL       1  2019    7   148.70   147.93   148.83   145.90
           GOOGL      1  2019    7  1080.97  1075.92  1082.70  1062.64
2019-01-08 AAPL       1  2019    8   149.56   150.75   151.82   148.52
           GOOGL      1  2019    8  1086.00  1085.37  1093.35  1068.35
2019-01-09 GOOGL      1  2019    9  1087.99  1081.65  1091.64  1074.37
           AAPL       1  2019    9   151.29   153.31   154.53   149.63
2019-01-10 GOOGL      1  2019   10  1074.94  1078.83  1079.81  1064.68
           AAPL       1  2019   10   152.50   153.80   153.97   150.86
2019-01-11 GOOGL      1  2019   11  1069.90  1064.47  1073.37  1056.43
           AAPL       1  2019   11   152.88   152.29   153.70   151.51
2019-01-14 AAPL       1  2019   14   150.85   150.00   151.27   149.22
           GOOGL      1  2019   14  1053.34  1051.51  1058.45  1048.55
2019-01-15 GOOGL      1  2019   15  1058.01  1086.51  1088.27  1054.44
           AAPL       1  2019   15   150.27   153.07   153.39   150.05
2019-01-16 AAPL       1  2019   16   153.08   154.94   155.88   153.00
           GOOGL      1  2019   16  1090.00  1089.51  1102.36  1088.01
2019-01-17 GOOGL      1  2019   17  1087.99  1099.12  1100.70  1083.26
           AAPL       1  2019   17   154.20   155.86   157.66   153.26
2019-01-18 GOOGL      1  2019   18  1108.59  1107.30  1118.00  1099.28
           AAPL       1  2019   18   157.50   156.82   157.88   155.98
2019-01-22 GOOGL      1  2019   22  1096.00  1078.63  1098.97  1070.89
           AAPL       1  2019   22   156.41   153.30   156.73   152.62
2019-01-23 AAPL       1  2019   23   154.15   153.92   155.14   151.70
           GOOGL      1  2019   23  1086.86  1084.41  1092.95  1067.57
2019-01-24 GOOGL      1  2019   24  1082.51  1084.00  1088.00  1070.02
           AAPL       1  2019   24   154.11   152.70   154.48   151.74
2019-01-25 GOOGL      1  2019   25  1094.23  1101.51  1103.36  1091.80
           AAPL       1  2019   25   155.48   157.76   158.13   154.32
2019-01-28 GOOGL      1  2019   28  1090.07  1079.86  1093.37  1074.61
           AAPL       1  2019   28   155.79   156.30   156.33   153.66
2019-01-29 AAPL       1  2019   29   156.25   154.68   158.13   154.11
           GOOGL      1  2019   29  1081.04  1070.06  1084.73  1066.02
2019-01-30 GOOGL      1  2019   30  1077.36  1097.99  1099.52  1076.64
           AAPL       1  2019   30   163.25   165.25   166.15   160.23
2019-01-31 AAPL       1  2019   31   166.11   166.44   169.00   164.56
           GOOGL      1  2019   31  1112.24  1125.89  1127.67  1105.25

                    volume volume_type
date       name
2019-01-02 GOOGL   1593395      medium
           AAPL   37039737      medium
2019-01-03 AAPL   91312195        high
           GOOGL   2097957      medium
2019-01-04 AAPL   58607070      medium
           GOOGL   2301428      medium
2019-01-07 AAPL   54777764      medium
           GOOGL   2372667      medium
2019-01-08 AAPL   41025314      medium
           GOOGL   1770654      medium
2019-01-09 GOOGL   1349912      medium
           AAPL   45099081      medium
2019-01-10 GOOGL   1329861      medium
           AAPL   35780670      medium
2019-01-11 GOOGL   1543238      medium
           AAPL   27023241      medium
2019-01-14 AAPL   32439186      medium
           GOOGL   1424486      medium
2019-01-15 GOOGL   1875852      medium
           AAPL   28710324      medium
2019-01-16 AAPL   30569706      medium
           GOOGL   1914041      medium
2019-01-17 GOOGL   1244801      medium
           AAPL   29821160      medium
2019-01-18 GOOGL   2244569      medium
           AAPL   33751023      medium
2019-01-22 GOOGL   1981594      medium
           AAPL   30393970      medium
2019-01-23 AAPL   23130570      medium
           GOOGL   1259738      medium
2019-01-24 GOOGL   1455948      medium
           AAPL   25441549      medium
2019-01-25 GOOGL   1163788      medium
           AAPL   33547893      medium
2019-01-28 GOOGL   1466714      medium
           AAPL   26192058      medium
2019-01-29 AAPL   41587239      medium
           GOOGL    985248      medium
2019-01-30 GOOGL   1472647      medium
           AAPL   61109780      medium
2019-01-31 AAPL   40739649      medium
           GOOGL   2011572      medium

In [10]:
tech.loc[(slice('2019-01-01','2019-01-31'), 'GOOGL'), :]

,,month,year,day,open,close,high,low,volume,volume_type
date,name,,,,,,,,,
2019-01-02,GOOGL,1,2019,2,1027.20,1054.68,1060.79,1025.28,1593395,medium
2019-01-03,GOOGL,1,2019,3,1050.67,1025.47,1066.26,1022.37,2097957,medium
2019-01-04,GOOGL,1,2019,4,1042.56,1078.07,1080.00,1036.86,2301428,medium
2019-01-07,GOOGL,1,2019,7,1080.97,1075.92,1082.70,1062.64,2372667,medium
2019-01-08,GOOGL,1,2019,8,1086.00,1085.37,1093.35,1068.35,1770654,medium
2019-01-09,GOOGL,1,2019,9,1087.99,1081.65,1091.64,1074.37,1349912,medium
2019-01-10,GOOGL,1,2019,10,1074.94,1078.83,1079.81,1064.68,1329861,medium
2019-01-11,GOOGL,1,2019,11,1069.90,1064.47,1073.37,1056.43,1543238,medium
2019-01-14,GOOGL,1,2019,14,1053.34,1051.51,1058.45,1048.55,1424486,medium
2019-01-15,GOOGL,1,2019,15,1058.01,1086.51,1088.27,1054.44,1875852,medium
2019-01-16,GOOGL,1,2019,16,1090.00,1089.51,1102.36,1088.01,1914041,medium
2019-01-17,GOOGL,1,2019,17,1087.99,1099.12,1100.70,1083.26,1244801,medium
2019-01-18,GOOGL,1,2019,18,1108.59,1107.30,1118.00,1099.28,2244569,medium
2019-01-22,GOOGL,1,2019,22,1096.00,1078.63,1098.97,1070.89,1981594,medium
2019-01-23,GOOGL,1,2019,23,1086.86,1084.41,1092.95,1067.57,1259738,medium
2019-01-24,GOOGL,1,2019,24,1082.51,1084.00,1088.00,1070.02,1455948,medium
2019-01-25,GOOGL,1,2019,25,1094.23,1101.51,1103.36,1091.80,1163788,medium
2019-01-28,GOOGL,1,2019,28,1090.07,1079.86,1093.37,1074.61,1466714,medium
2019-01-29,GOOGL,1,2019,29,1081.04,1070.06,1084.73,1066.02,985248,medium
2019-01-30,GOOGL,1,2019,30,1077.36,1097.99,1099.52,1076.64,1472647,medium
2019-01-31,GOOGL,1,2019,31,1112.24,1125.89,1127.67,1105.25,2011572,medium

In [14]:
tech.loc[(['2019-01-28', '2019-01-31'],['GOOGL', 'AAPL']), :]

                  month  year  day     open    close     high      low  \
date       name
2019-01-28 GOOGL      1  2019   28  1090.07  1079.86  1093.37  1074.61
           AAPL       1  2019   28   155.79   156.30   156.33   153.66
2019-01-31 GOOGL      1  2019   31  1112.24  1125.89  1127.67  1105.25
           AAPL       1  2019   31   166.11   166.44   169.00   164.56

                    volume volume_type
date       name
2019-01-28 GOOGL   1466714      medium
           AAPL   26192058      medium
2019-01-31 GOOGL   2011572      medium
           AAPL   40739649      medium