In [1]:
# Import Different library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pip install pyarrow

Requirement already satisfied: pyarrow in c:\programdata\anaconda3\lib\site-packages (13.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
Sales_data = pd.read_feather(r"D:\Data for Preprocessing\Sales_data.ftr")

In [4]:
Sales_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,None,None,None,None,None,None
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [5]:
df = Sales_data.drop_duplicates()

In [6]:
df.dropna(axis=0, inplace=True)

c:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [7]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185687 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185687 non-null  object
 1   Product           185687 non-null  object
 2   Quantity Ordered  185687 non-null  object
 3   Price Each        185687 non-null  object
 4   Order Date        185687 non-null  object
 5   Purchase Address  185687 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [26]:
df['Address'] = df['Purchase Address'].apply(lambda x: x.split(',')[1].strip() if len(x.split(',')) > 1 else '')

C:\Users\JITENDRA\AppData\Local\Temp/ipykernel_19740/4149650151.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Address'] = df['Purchase Address'].apply(lambda x: x.split(',')[1].strip() if len(x.split(',')) > 1 else '')

In [27]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Add,address,Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",1,Dallas,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",8,Boston,Boston
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",6,Los Angeles,Los Angeles
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",6,Los Angeles,Los Angeles
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",3,Los Angeles,Los Angeles
...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",4,Los Angeles,Los Angeles
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",1,San Francisco,San Francisco
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",2,San Francisco,San Francisco
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",1,San Francisco,San Francisco
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",5,San Francisco,San Francisco

In [11]:
df['address'] = df['Purchase Address'].str.split(',').str.get(1)

C:\Users\JITENDRA\AppData\Local\Temp/ipykernel_19740/1321374228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['address'] = df['Purchase Address'].str.split(',').str.get(1)

In [12]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Add,address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",1,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",8,Boston
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",6,Los Angeles
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",6,Los Angeles
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",3,Los Angeles
...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",4,Los Angeles
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",1,San Francisco
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",2,San Francisco
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",1,San Francisco
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",5,San Francisco

In [13]:
most_sold_product = Sales_data.groupby('Product').agg({'Quantity Ordered':'count'}).sort_values( by = 'Quantity Ordered', ascending = False).nlargest(5, 'Quantity Ordered').index

In [14]:
most_sold_product

Index(['USB-C Charging Cable', 'Lightning Charging Cable',
       'AAA Batteries (4-pack)', 'AA Batteries (4-pack)', 'Wired Headphones'],
      dtype='object', name='Product')

In [15]:
df[df['Product'].isin(most_sold_product)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Add,address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",1,Dallas
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",6,Los Angeles
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",3,Los Angeles
6,176562,USB-C Charging Cable,1,11.95,04/29/19 13:03,"381 Wilson St, San Francisco, CA 94016",8,San Francisco
8,176564,USB-C Charging Cable,1,11.95,04/12/19 10:58,"790 Ridge St, Atlanta, GA 30301",9,Atlanta
...,...,...,...,...,...,...,...,...
186840,259349,AAA Batteries (4-pack),1,2.99,09/01/19 22:14,"911 River St, Dallas, TX 75001",1,Dallas
186842,259350,USB-C Charging Cable,1,11.95,09/30/19 13:49,"519 Maple St, San Francisco, CA 94016",1,San Francisco
186844,259352,USB-C Charging Cable,1,11.95,09/07/19 15:49,"976 Forest St, San Francisco, CA 94016",7,San Francisco
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",4,Los Angeles
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",5,San Francisco

In [16]:
Lowest_sold_product = Sales_data.groupby('Product').agg({'Quantity Ordered':'count'}).sort_values( by = 'Quantity Ordered', ascending = False).nsmallest(5, 'Quantity Ordered').index

In [17]:
Lowest_sold_product

Index(['Product', 'LG Dryer', 'LG Washing Machine', 'Vareebadd Phone',
       '20in Monitor'],
      dtype='object', name='Product')

In [18]:
df[df['Product'].isin(Lowest_sold_product)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Add,address
35,176588,20in Monitor,1,109.99,04/02/19 04:00,"765 Cherry St, Seattle, WA 98101",6,Seattle
53,176606,LG Dryer,1,600.0,04/21/19 14:16,"487 Maple St, San Francisco, CA 94016",8,San Francisco
82,176635,Vareebadd Phone,1,400,04/26/19 09:55,"85 North St, San Francisco, CA 94016",5,San Francisco
99,176652,LG Washing Machine,1,600.0,04/09/19 20:04,"502 14th St, New York City, NY 10001",0,New York City
106,176659,20in Monitor,1,109.99,04/29/19 14:40,"804 Church St, Dallas, TX 75001",0,Dallas
...,...,...,...,...,...,...,...,...
186688,259207,20in Monitor,1,109.99,09/04/19 22:43,"430 Sunset St, Austin, TX 73301",3,Austin
186702,259220,Vareebadd Phone,1,400,09/21/19 20:31,"815 Jefferson St, San Francisco, CA 94016",1,San Francisco
186727,259245,20in Monitor,1,109.99,09/18/19 17:37,"660 Meadow St, San Francisco, CA 94016",6,San Francisco
186736,259254,Vareebadd Phone,1,400,09/06/19 14:02,"853 5th St, Los Angeles, CA 90001",5,Los Angeles
186786,259298,20in Monitor,1,109.99,09/18/19 09:10,"188 11th St, Austin, TX 73301",8,Austin

In [19]:
df_duplicated = df[df['Order ID'].duplicated(keep = False)]

In [31]:
df_duplicated.groupby(['Order ID'])['Product'].sum()

Order ID
141275              USB-C Charging CableWired Headphones
141290     Apple Airpods HeadphonesAA Batteries (4-pack)
141365                   Vareebadd PhoneWired Headphones
141384                  Google PhoneUSB-C Charging Cable
141450            Google PhoneBose SoundSport Headphones
                               ...
319536                Macbook Pro LaptopWired Headphones
319556                      Google PhoneWired Headphones
319584                            iPhoneWired Headphones
319596                    iPhoneLightning Charging Cable
319631    34in Ultrawide MonitorLightning Charging Cable
Name: Product, Length: 6879, dtype: object

In [20]:
duplicate_products = df_duplicated.groupby(['Order ID'])['Product'].apply(lambda x : ', '.join(x)).reset_index()

In [21]:
duplicate_products.rename(columns={'Product': 'Grouped_Products'})

     Order ID                                  Grouped_Products
0      141275            USB-C Charging Cable, Wired Headphones
1      141290   Apple Airpods Headphones, AA Batteries (4-pack)
2      141365                 Vareebadd Phone, Wired Headphones
3      141384                Google Phone, USB-C Charging Cable
4      141450          Google Phone, Bose SoundSport Headphones
...       ...                                               ...
6874   319536              Macbook Pro Laptop, Wired Headphones
6875   319556                    Google Phone, Wired Headphones
6876   319584                          iPhone, Wired Headphones
6877   319596                  iPhone, Lightning Charging Cable
6878   319631  34in Ultrawide Monitor, Lightning Charging Cable

[6879 rows x 2 columns]